.NavContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #00B8FF;
    height: 40px;
}

.parentNav {
    background-color: #00B8FF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.minimize {
    display: none;
}

@media screen and (max-width: 420px) {
    .NavContainer {
        flex-direction: column;
        height: 100%;
    }

    .minimize {
        display: flex;
        align-self: center;
        margin: 10px;
        color: white;
        font-size: 26px;
    }
  }

.NavContainer a {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
    padding-right: 5px;
    padding-left: 5px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.NavContainer a:hover {
    background-color: #009BD6;
    padding-right: 20px;
    padding-left: 20px;
    transition: 0.3s;
}

.NavContainer .BothVersions a:nth-child(2):hover {
    background-color: #1161da;
    padding-right: 20px;
    padding-left: 20px;
    transition: 0.3s;
}

.BothVersions {
    display: flex;
    height: 100%;
    gap: 5px;
}

.DivLinksPlus {
    font-size: 22px !important;
    font-weight: bold;
}
