.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    height: 90vh;
}

.container > a {
    /* height: 150px; */
    flex: 1;
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.container > a > .flagDiv{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url("../../../public/FlagsImage.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 35px;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s;
}

.container > a > .flagDiv:hover{
    filter: brightness(80%);
    transition: 0.3s;
}

.container > a > .CapDiv{
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url("../../../public/CapitalsImage.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 35px;
    color: white;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s;
}

.container > a > .CapDiv:hover{
    filter: brightness(80%);
    transition: 0.3s;
}

.container > a > .OutDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-image: url("../../../public/df3bef31cf21abc2d4c456756e926058.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    font-size: 35px;
    color: black;
    background-color: rgb(202, 202, 255);
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.3s;
}

.container > a > .OutDiv:hover{
    filter: brightness(80%);
    transition: 0.3s;
}


