.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.groupings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    justify-content: center;
}

.flagGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    background-color: rgb(82, 95, 217);
    width: 400px;
    gap: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
}

.flagGroup h2 {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    color: white;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.flagGroup > a {
    border-radius: 10px 10px 0px 0px;
    text-decoration: none;
    width: 100%;
    transition: 0.3s;
    border-bottom: 3px solid rgba(255, 0, 0, 0);
}

.flagGroup > a:hover {
    background-color:navy;
    transition: 0.3s;
    border-bottom: 3px solid yellow;
}

.flagGroup > div {
    box-sizing: border-box;
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    background-color: white;
    border-radius: 5px;
}
